<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Amazing app to help you find recipes you like</title>
    </head>

    <body>
        <h1>Recipe Search</h1>
        <a href="{{url_for('recipes')}}">Search Recipes by Keywords</a>
        <a href="{{url_for('ingredients')}}">Search Recipes by Ingredients</a>
        <a href="{{url_for('menus')}}">Search Restaurant Menus</a>
        <a href="{{url_for('random')}}">Get Random Recipes</a>
    </body>
</html>

