<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amazing app to help you find recipes you like</title>
  </head>

  <body>
    <h1>Recipe Search</h1>
    <form method="POST" name="Recipe">
      <p>
        Welcome to our Recipe Searching engine! Whether you're a seasoned cook
        or just starting out in the kitchen, we're here to help you find the
        perfect recipe for any occasion. Simply enter a keyword related to the
        recipe you're looking for, and we'll provide you with a range of
        searching results to choose from. From quick and easy weeknight dinners
        to show-stopping desserts, our engine is your one-stop-shop for all your
        culinary needs. So go ahead, start your search now and discover your
        next favorite dish!
      </p>
      {% if error %}
      <p style="color: red">There is no recipe can be found.</p>
      {% endif %}
      <p>Please enter the keywords of the recipe</p>
      <p>
        <input
          type="text"
          name="recipe"
          placeholder="What recipe are you looking for?"
        />
      </p>
      <p>
        <input type="submit" name="" value="Search" />
      </p>
    </form>
  </body>
</html>
